{% extends "_base.html" %}

{% block content %}
<h1>This page does not exist</h1>
<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/iwGFalTRHDA?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/iwGFalTRHDA?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>
{% endblock %}
