{% extends "master.html" %}

{% block content %}
<article>
  <h2>Tietoa toiminnasta</h2>

  <p>
    Python Suomi ry parantaa Python-ohjelmointikielen tuntemusta
    Suomessa sekä edistää alan ihmisten keskinäistä yhteistyötä ja
    verkostoitumista. Haluamme lisätä Python-osaamista Suomessa,
    tarjota Python-ihmisille aktiviteetteja, mahdollistaa
    organisaatiorajat ylittävän tiedonvaihdon, ja parantaa Pythonia
    käyttävien hankkeiden kilpailukykyä. Toimintamme perustuu
    vapaaehtoisuuteen.
  </p>

  <p>
    Suurin tapahtumamme on
    vuosittainen <a href="http://fi.pycon.org">Pycon
    Finland-konferenssi</a>. Järjestämme tämän lisäksi paikallisia
    illanistujaisia ja käymme puhumassa oppilaitoksissa. Osallistumme
    muiden järjestämiin tapahtumiin, joissa promotoimme Pythonia ja
    siihen liittyviä teknologioita.
  </p>

  <p>
    <a href="http://www.python.org">Python</a> on Python Software
    Foundation-säätiön hallinnoima avoimen lähdekoodin
    ohjelmointikieli. Pythonin suosio on kasvanut voimakkaasti
    2000-luvulla ja se on tällä hetkellä yksi TOP-10
    ohjemoinnistikielistä. Suosio perustuu pitkälle helppoon
    opittavuuteen ja lähestyttävyyteen, mutta silti ammattimaisesti
    johdettuun kehitykseen ja yrityskäyttöön soveltuviin työkaluihin.
  </p>

  <p>
    Pythonilla on vahva asema web-kehityksessä, ylläpidossa ja
    testauksessa. Useat suomalaiset korkeakoulut käyttävät Pythonia
    ensimmäisten ohjelmointikurssien ohjelmointikielenä. Tunnettuja
    Pythonia käyttäviä yrityksiä on mm. Google, Nokia, Yahoo ja
    Disney.
  </p>

  <p>
    Python ja Python-logot ovat Python Software Foundationin
    rekisteröimiä tavaramerkkejä.
  </p>

  <h2>Yhdistys</h2>

  <p>
    <a href="https://docs.google.com/document/edit?id=1DoW3XqrDDDDaZCL7R8mFMjHIWyQK4nbQaPNNvzcJEyU&hl=en&authkey=CN-u_Y8K&pli=1">Yhdistyksen
    säännöt</a>
  </p>

  <p>
    Hallitus vuodelle 2011:
  </p>
  <ul>
    <li>Puheenjohtaja: Mikko Ohtamaa</li>
    <li>Varapuheenjohtaja: Joni Orponen</li>
    <li>Taloudenhoitaja: Jyrki Pulliainen</li>
    <li>Sihteeri: Petri Lehtinen</li>
    <li>Tiedottaja: Jyry Suvilehto</li>
  </ul>
  <p>
    Hallitukselle voit lähettää sähköpostia
    osoitteeseen <a href="mailto:hallitus@python.fi">hallitus@python.fi</a>.
    Jokaisella hallituksen jäsenellä on myös oma sähköpostiosoite
    muotoa <em>etunimi.sukunimi@python.fi</em>.
  </p>
</article>
{% endblock %}
