{% extends "master.html" %}

{% block content %}
    <article>
        <h2>Tietoja toiminnasta</h2>
		
        <p>
            Python Interest Group Finland edistää Python-ohjelmointiteknologian ja avoimen lähdekoodin käyttöönottoa ja tietämystä.
			Haluamme lisätä Python-osaamista Suomessa, tarjota Python-ihmisille aktiviteetteja, mahdollistaa organisaatiorajat ylittävän tiedonvaihdon,
			ja parantaa Pythonia käyttävien hankkeiden kilpailukykyä.			  			           
        </p>
		
		<p>
			Suurin tapahtumamme on vuosittainen <a href="http://fi.pycon.org">Pycon-konferenssi</a>.
			Järjestämme paikallisia illanistujaisia ja käymme puhumassa oppilaitoksissa.
			Osallistumme myös muiden järjestämiin tapahtumiin, joissa promotoimme Pythonia ja siihen liittyviä 
			teknologioita.
		</p>
		
		<p>
			<a href="http://www.python.org">Python</a> on Python Software Foundation-säätiön hallinoima avoimen lähdekoodin
			ohjelmointikieli. Pythonin suosio on kasvanut voimakkaasti 2000-luvulla ja se on tällä hetkellä yksi TOP-10 
			ohjemoinnistikielistä. Suosio perustuu pitkälle helppoon opittavuuteen ja lähestyttävyyteen, mutta
			silti ammattimaisesti johdettuun kehitykseen ja yrityskäyttöön soveltuviin työkaluihin.  
		</p>
		
		<p>
			Pythonilla on vahva asema web-kehityksessä, äylläpidossa ja testauksessa.
			Monet suomalaiset korkeakoulut käyttävät Pythonia ensimmäisten ohjelmointikurssien ohjelmointikielenä.
			Tunnettuja Pythonia käyttäviä yrityksiä on mm. Google, Nokia, Yahoo ja Disney 
		</p>
		
		<p>
			Python ja Python-logot ovat Python Software Foundationin rekisteröimiä tavaramerkkejä. 
		</p>
    </article>          
{% endblock %}  