{% extends "master.html" %}

{% block content %}
    <article>
        <h2>Python-blogausta ja mikroblogausta Suomessa</h2>

		<p>
			Ota yhteyttä, mikäli haluat itsesi tänne listalle.
		</p>

		<h3>Blogeja</h3>
        <p>
            <ul>
                <li>
                	<a href="http://blog.mfabrik.com">mFabrik</a>
				</li>

                <li>
                    <a href="http://www.heikkitoivonen.net/blog/">Heikki Toivonen</a>
                </li>
                <li>
                    <a href="http://lautaportti.wordpress.com">Kai Lautaportti</a>
                </li>
            </ul>
        </p>

		<h3>Twitter-käyttäjiä</h3>

		<p>Suomalaisia Python-aktiiveja Twitterissä</p>
<ul>
<li><a href="http://twitter.com/2gen">2gen</a></li>
<li><a href="http://twitter.com/EsaMatti">EsaMatti</a></li>
<li><a href="http://twitter.com/Soft">Soft</a></li>
<li><a href="http://twitter.com/Teemu">Teemu</a></li>
<li><a href="http://twitter.com/akaihola">akaihola</a></li>
<li><a href="http://twitter.com/akhern">akhern</a></li>
<li><a href="http://twitter.com/ariflinkman">ariflinkman</a></li>
<li><a href="http://twitter.com/ecyrd">ecyrd</a></li>
<li><a href="http://twitter.com/hagnas">hagnas</a></li>
<li><a href="http://twitter.com/jlaurila">jlaurila</a></li>
<li><a href="http://twitter.com/kpuputti">kpuputti</a></li>
<li><a href="http://twitter.com/linjaaho">linjaaho</a></li>
<li><a href="http://twitter.com/mikharj">mikharj</a></li>
<li><a href="http://twitter.com/moo9000">moo9000</a></li>
<li><a href="http://twitter.com/nailor">nailor</a></li>
<li><a href="http://twitter.com/pyconfinland">pyconfinland</a></li>
<li><a href="http://twitter.com/roxeteer">roxeteer</a></li>
<li><a href="http://twitter.com/saffe">saffe</a></li>
<li><a href="http://twitter.com/teelmo">teelmo</a></li>
<li><a href="http://twitter.com/tkoola">tkoola</a></li>
<li><a href="http://twitter.com/tsharju">tsharju</a></li>
<li><a href="http://twitter.com/uninen">uninen</a></li>
<li><a href="http://twitter.com/dokai">dokai</a></li>
</ul>

		</p>


    </article>
{% endblock %}
