{% extends "master.html" %}

{% block content %}
    <article>
        <h2>Python-ystävällisiä yrityksiä Suomessa</h2>
		
		<p>
			Ota yhteyttä, mikäli yrityksenne tai organisaationne haluaa listalle. 
		</p>
		
        <p>          
            <ul>
                <li>
                	<a href="http://mfabrik.com">mFabrik</a> 
				</li>

                <li>
                    <a href="http://www.syneus.fi">Syneus</a> 
                </li>


                <li>
                    <a href="http://www.hexagonit.fi">Hexagon IT</a> 
                </li>

                <li>
                    <a href="http://inoi.fi">Inoi</a> 
                </li>								


                <li>
                    <a href="http://www.symbio.com">Symbio</a> 
                </li>                               

                <li>
                    <a href="http://www.tut.fi/hypermedia">TTY / Hypermedialaboratorio</a> 
                </li>                               


                <li>
                    <a href="http://www.gemilo.com">Gemilo</a> 
                </li>                               
								
                <li>
                    <a href="http://eliga.fi">Eliga</a> 
                </li>                               
																
                 <li>
                    <a href="http://taiste.fi">Taiste</a> 
                </li>                               

                <li>
                    <a href="http://leonidasoy.fi">Leonidas</a>
                </li>
		

            </ul>
        </p>
		
		<p>
			(Yritykset on toistaiseksi siinä järjestyksessä, missä ne ovat lisätty.)
		</p>
    </article>          
{% endblock %}  
