{% extends "master.html" %}

{% block content %}
    <article>
        <h2>Python-ystävällisiä yrityksiä Suomessa</h2>
		
		<p>
			Ota yhteyttä, mikäli yrityksenne tai organisaationne haluaa listalle. 
		</p>
		
        <p>          
            <ul>
                <li>
                	<a href="http://mfabrik.com">mFabrik</a> 
				</li>

                <li>
                    <a href="http://www.syneus.fi">Syneus</a> 
                </li>


                <li>
                    <a href="http://www.hexagonit.fi">Hexagon IT</a> 
                </li>

            </ul>
        </p>
    </article>          
{% endblock %}  