{% extends "_base.html" %}

{% block content %}
<h2>Tervetuloa</h2>
<p>
  Python Suomi on vielä rekisteröitymisvaiheessa oleva yhdistys, joka
  parantaa Python-ohjelmointikielen tuntemusta Suomessa sekä edistää
  alan ihmisten keskinäistä yhteistyötä ja verkostoitumista.
</p>

<h2>Uutiset</h2>

<article>
  <h3>Yhdistys perustettu</h3>
  <p>
    Perustamiskokous järjestettiin 7.5.2011 Espoossa. Kokouksessa
    yhdistyksen nimeksi äänestettiin Python Suomi, käytiin läpi ja
    hyväksyttiin
    yhdistyksen <a href="https://docs.google.com/document/d/10ss1MQ5C8fPZlk734OSqw3SMS2_Takk2CBGB0Bp6rZQ/edit">säännöt</a>,
    valittiin ensimmäinen hallitus sekä päätettiin jäsenmaksuista.
  </p>
  <p>
    Kiitos kaikille osallistuneille!
  </p>
</article>

<h2>Tiedotteet</h2>

<ul class="posts"></ul>
{% endblock %}

{% block sidebar %}
<h3>Lisätietoja</h3>
<ul>
  <li>
    <a href="http://groups.google.com/group/pigfi">Keskusteluryhmä</a>
  </li>


  <li>
    IRC-kanava #python.fi @ IRCNet
  </li>

  <li>
    <a href="http://fi.pycon.org/">Pycon Finland 2010 -konferenssi</a>
  </li>

  <li>
    <a href="http://www.python.org/community/sigs/">Python interest groups</a>
  </li>
</ul>

<h3>Ota yhteyttä</h3>
<ul>


  <li>
    <a href="http://groups.google.com/group/pigfi">Keskusteluryhmä</a>
  </li>

  <li>
    <a href="mailto:mikko@mfabrik.com">Mikko Ohtamaa</a>
    (websivusto, yhdistysasiat)
  </li>
</ul>
{% endblock %}
