{% extends "_base.html" %}

{% block head %}
<script src="/media/jquery.minime.feed.js"></script>
{% endblock %}

{% block content %}
<h2>Tervetuloa</h2>
<p>
  Python Suomi on vielä rekisteröitymisvaiheessa oleva yhdistys, joka
  parantaa Python-ohjelmointikielen tuntemusta Suomessa sekä edistää
  alan ihmisten keskinäistä yhteistyötä ja verkostoitumista.
</p>

<h2>Uutiset</h2>

<article>
  <h3>Yhdistys perustettu</h3>
  <p>
    Perustamiskokous järjestettiin 7.5.2011 Espoossa. Kokouksessa
    yhdistyksen nimeksi äänestettiin Python Suomi, käytiin läpi ja
    hyväksyttiin
    yhdistyksen <a href="https://docs.google.com/document/d/10ss1MQ5C8fPZlk734OSqw3SMS2_Takk2CBGB0Bp6rZQ/edit">säännöt</a>,
    valittiin ensimmäinen hallitus sekä päätettiin jäsenmaksuista.
  </p>
  <p>
    Kiitos kaikille osallistuneille!
  </p>
</article>

<h2>Tiedotteet</h2>

<ul class="posts"></ul>
{% endblock %}

{% block sidebar %}
<h3>Keskustele</h3>
<ul>
  <li>
    <a href="http://groups.google.com/group/pigfi">Keskusteluryhmä</a>
  </li>
  <li>
    <a href="http://twitter.com/PythonFinland">@PythonFinland</a> Twitterissä
  </li>
  <li>
    <a href="http://www.facebook.com/pages/Python-Suomi-ry/216300785055723">Facebook-ryhmä</a>
  </li>
  <li>
    IRC-kanava #python.fi @ IRCNet
  </li>
  <li>
    <a href="/yhdistys/hallitus/">Ota yhteyttä hallitukseen</a>
  </li>
</ul>

<h3>Toimintaa</h3>
<ul>
  <li>
    <a href="/yhdistys/jasenyys/">Liity jäseneksi</a>
  </li>
  <li>
    <a href="/pyconfi/">PyCon Finland</a> -konferenssi
  </li>
  <li>
    <a href="/toiminta/yritykset/">Yrityksiä</a>
  </li>
  <li>
    <a href="/toiminta/blogit/">Blogeja</a>
  </li>
</ul>

{% endblock %}
