{% extends "master.html" %}

{% block content %}
<article>
  <h2>Open Positions</h2>

  <h3>
    Multiple vacancies: Director Engineering, Sr. Software Engineers
    (Web, Synchronization, Python), Sales Manager / Technical
    pre-sales
  </h3>
  <p>
    Our client is a young and innovative, award-winning start-up
    software company based in the Greater Zurich area. Due to the
    success of the company and the following expansion plans, they are
    currently looking for top individuals to join the dynamic team in
    their fast-paced work in a Python/SCRUM environment. Attractive
    compensation plans, including equity, are in place to attract the
    best of breed. <b>Are you one of them?</b>
  </p>

  <p>
    Our client is a team of passionate geeks and entrepreneurs who are
    out there to create top innovative applications to make people’s
    information management fluid. If you are a person who goes beyond
    innovation, and like to create and excel with your pre-acquired
    skills, then we would definitely like to hear from you. This is an
    exciting opportunity to join a dynamic team with a rapidly growing
    company in the heart of Switzerland. All team players are expected
    to rapidly grow into larger responsibility roles: this as our
    client moves into the entire application range from the desktop,
    to the web and mobile. You will be working in a start-up setting
    and will receive a share of the future success of the platform you
    help building.
  </p>

  <p>
    Depending on the detailed position, the successful applicant will
    ideally bring a selection of the following experience and
    expertise:
  </p>

  <h4>Experience</h4>

  <ul>
    <li>
      Experience in Web Project Management with proven results in
      agile development methodologies (SCRUM preferred)
    <li>
      Previous technical sales experience and pre-sales knowledge (for
      the Tech sales management)
    <li>
      Beyond experienced in Python Web programming language
    <li>
      2-5 years of relevant work experience in programming, technical
      sales etc.
    <li>
      Flexible team player who gets things done through a
      methodological approach
    <li>
      Good and easy communicator who is inspired by a start-up
      environment
    <li>
      Technically advanced in web technologies
  </ul>

  <h4>General</h4>
  <ul>
    <li>
      Strong track record in taking projects through from birth to
      realization. Ability to deliver on a timely manner
    <li>
      Talented in building consensus among stakeholders
    <li>
      Sheer drive and energy to bring the company to the next level
    <li>
      CH/EU passport, or valid Swiss work permit
  </ul>

  <h4>Education</h4>

  <ul>
    <li>University level degree in Software Engineering or IS preferred</li>
  </ul>

  <h4>Languages</h4>

  <ul>

    <li>Fluency in English</li>
    <li>Other languages, especially German, a plus but not compulsory</li>
  </ul>

  <p>
    If you are <b>Top Gun</b> and feel a calling for this opportunity,
    I look forward hearing from you soon.
  </p>
</article>
{% endblock %}

{% block sidebar %}
<h3>Contact</h3>

<div class="contact-info">
  <p>
    <b>Lassi Viljakainen</b>
  </p>
  <p>Tel +41 44 212 41 45</p>
  <p>Skype: lassialbin</p>
  <p>lassi.viljakainen at pleinertpartner.com</p>
</div>
{% endblock %}
