{% extends "master.html" %}

{% block content %}
<article>
  <h2>Python-opiskelumateriaali</h2>

  <p>
    Alle on kerätty linkkejä Pythonin itseopiskelua varten. Lisää saa
    laittaa tulemaan.
  </p>

  <h3>Tutoriaaleja</h3>

  <p>Yleisesti Python-ohjelmointikielen opiskeluun.</p>
  <ul>
    <li>
      <a href="http://docs.python.org/tutorial">Python-tutoriaali</a>
      (virallinen)
    </li>
    <li>
      <a href="http://diveintopython.org">Dive Into Python</a>
    </li>
    <li>
      <a href="http://www.greenteapress.com/thinkpython/thinkpython.html">Think Python</a>
    </li>
    <li>
      <a href="http://www.python.org/dev/peps/pep-0008/">PEP-8</a>
      (koodaustyyli - coding conventions)
    </li>
    <li>
      <a href="http://python.net/~goodger/projects/pycon/2007/idiomatic/handout.html">Code Like a Pythonista: Idiomatic Python</a>
    </li>
  </ul>

  <h3>Jython</h3>
  <p>Java ja Python teknologioiden yhdistäminen</p>
  <ul>
    <li><a href="http://jythonbook.com">Jython-Book</a></li>
  </ul>

  <h3>Testaus</h3>
  <p>Testaukseen liittyvää materiaalia</p>

  <ul>
    <li>
      <a href="http://robotframework.googlecode.com/svn/trunk/doc/python/PythonTutorial.html">Python Tutorial for Robot Framework Test Library Developers</a>
    </li>
  </ul>
</article>
{% endblock %}
