{% extends "master.html" %}

{% block content %}
    <!-- #content -->
    <article>
        <h2>Tervetuloa</h2>
        <p>
            Python Interest Group Finland on vielä rekisteröimätön yhdistys,
            joka kehittää ja promotoi Python-ohjelmointiteknologian ja siihen
			liittyvän avoimen lähdekoodin toimintaa Suomessa.
        </p>
    </article>

    <article>
        <h2>Kehittäjä hakusessa</h2>
        <p>
            Mikäli olet aloitteleva Python-kehittäjä ja haluat osallistua vapaaehtoistyöhön, meillä
			olisi juuri oikea erikoistehtävä sinulle.
        </p>

		<p>
			Pääset kehittämään <b>python.fi</b>-sivustoa Suomen kovimpien web-ammattilaisten ohjaamana.
		</p>

		<p>
			Työ on palkatonta, mutta voimme järjestää tämän oppilaitoksen yms. harjoitustyön tai
			työharjoittelun puitteissa.
		</p>
    </article>

{% endblock %}
