{% extends "master.html" %}

{% block content %}
    <!-- #content -->
    <article>
        <h2>Tervetuloa</h2>
        <p>
            Python Interest Group Finland on vielä rekisteröimätön yhdistys,
            joka kehittää ja promotoi Python-ohjelmointiteknologian ja siihen
			liittyvän avoimen lähdekoodin toimintaa Suomessa.
        </p>
    </article>

    <article>
      <h2>Yhdistyksen perustamiskokous</h2>
      <p>
        Python Interest Group Finland ry:n perustamiskokous
        järjestetään lauantaina 7.5.2011 klo
        10:00 <a href="http://djangocon.fi">DjangoCon Finlandin</a>
        yhteydessä Aalto Venture Garagen tiloissa, Betonimiehenkuja 3,
        Espoo. Perustamiskokouksessa mm. hiotaan kuntoon yhdistyksen
        säännöt
        (<a href="https://docs.google.com/document/edit?id=1DoW3XqrDDDDaZCL7R8mFMjHIWyQK4nbQaPNNvzcJEyU&hl=en&authkey=CN-u_Y8K&pli=1">työversio</a>
        Google Docsissa) sekä valitaan yhdistyksen ensimmäinen
        hallitus. Kaikki ovat tervetulleita!
      </p>
    </article>

    <article>
        <h2>Kehittäjä hakusessa</h2>
        <p>
            Mikäli olet aloitteleva Python-kehittäjä ja haluat osallistua vapaaehtoistyöhön, meillä
			olisi juuri oikea erikoistehtävä sinulle.
        </p>

		<p>
			Pääset kehittämään <b>python.fi</b>-sivustoa Suomen kovimpien web-ammattilaisten ohjaamana.
		</p>

		<p>
			Työ on palkatonta, mutta voimme järjestää tämän oppilaitoksen yms. harjoitustyön tai
			työharjoittelun puitteissa.
		</p>
    </article>

{% endblock %}
