{% extends "master.html" %}

{% block content %}
    <!-- #content -->
    <h2>Tervetuloa</h2>
    <p>
        Python Suomi on vielä rekisteröitymisvaiheessa oleva
        yhdistys, joka parantaa Python-ohjelmointikielen
        tuntemusta Suomessa sekä edistää alan ihmisten keskinäistä
        yhteistyötä ja verkostoitumista.
    </p>

    <h2>Uutisia</h2>

    <article>
      <h3>Yhdistys perustettu</h3>
      <p>
        Perustamiskokous järjestettiin 7.5.2011 Espoossa. Kokouksessa
        yhdistyksen nimeksi äänestettiin Python Suomi, käytiin läpi ja
        hyväksyttiin
        yhdistyksen <a href="https://docs.google.com/document/d/10ss1MQ5C8fPZlk734OSqw3SMS2_Takk2CBGB0Bp6rZQ/edit">säännöt</a>,
        valittiin ensimmäinen hallitus sekä päätettiin jäsenmaksuista.
      </p>
      <p>
        Kiitos kaikille osallistuneille!
      </p>
    </article>

    <article>
      <h3>Yhdistyksen perustamiskokous</h3>
      <p>
        Python Interest Group Finland ry:n perustamiskokous
        järjestetään lauantaina 7.5.2011 klo
        10:00 <a href="http://djangocon.fi">DjangoCon Finlandin</a>
        yhteydessä Aalto Venture Garagen tiloissa, Betonimiehenkuja 3,
        Espoo. Perustamiskokouksessa mm. hiotaan kuntoon yhdistyksen
        säännöt
        (<a href="https://docs.google.com/document/d/10ss1MQ5C8fPZlk734OSqw3SMS2_Takk2CBGB0Bp6rZQ/edit">työversio</a>
        Google Docsissa) sekä valitaan yhdistyksen ensimmäinen
        hallitus. Kaikki ovat tervetulleita!
      </p>
      <p>
        Virallinen kokouskutsu yhdistyksen perustamiskokoukseen
        löytyy <a href="http://groups.google.com/group/pigfi/browse_thread/thread/d049b1c9a49e51fe">täältä</a>.
      </p>
    </article>

    <article>
        <h3>Kehittäjä hakusessa</h3>
        <p>
            Mikäli olet aloitteleva Python-kehittäjä ja haluat osallistua vapaaehtoistyöhön, meillä
			olisi juuri oikea erikoistehtävä sinulle.
        </p>

		<p>
			Pääset kehittämään <b>python.fi</b>-sivustoa Suomen kovimpien web-ammattilaisten ohjaamana.
		</p>

		<p>
			Työ on palkatonta, mutta voimme järjestää tämän oppilaitoksen yms. harjoitustyön tai
			työharjoittelun puitteissa.
		</p>
    </article>

{% endblock %}
