{% extends "_base.html" %}

{% block content %}
<article>
  <h2>PyCon Finland 2011</h2>
<h3>Call for Proposals </h3>

<p> PyCon Finland will take place October 17-18 in Turku. The first day will
feature presentations and the second is reserved for sprints.
</p>
<p>
To propose a presentation or sprint, please fill this <a
href="http://bit.ly/lDQSIP">form</a>. Deadline for proposals is
2011-08-01 and accepted presenters will be informed by 2011-08-14.
</p>
<p>
To request a particular topic, please fill out this <a
href="http://bit.ly/lBTgMT">form</a>.
</p><p>
The presentation slots will be 40 minutes + 10 minutes of discussion at the
end. Shared sessions are also possible. The language for the presentations
should be English to encourage international participation.
</p><p>
We are also looking for sponsors for the event. If you are interested in
sponsoring, please contact Python Finland at <a
href="mailto:hallitus@python.fi">hallitus@python.fi</a> for details
about sponsorship packages.
</p>
<p>This site is the official page for info on PyCon Finland 2011 until we have
the time to update the page under <a
href="http://fi.pycon.org">fi.pycon.org.</a> At that point we'll add a link
or redirect you from this page.</p>
</article>
{% endblock %}
