{% extends "yhdistys_base.html" %}

{% block content %}
  <h2>Hallitus</h2>
  <p>
    Yhdistyksen asioita ja omaisuutta hoitaa hallitus.
  </p>
  <p>
    Python Suomi ry:n hallitus vuodelle 2012:
  </p>
  <ul>
    <li>Puheenjohtaja: Jyrki Pulliainen</li>
    <li>Varapuheenjohtaja: Jyry Suvilehto</li>
    <li>Taloudenhoitaja: Joni Orponen</li>
    <li>Sihteeri: Mikko Ohtamaa</li>
    <li>Webmaster: Hieu Nguyen Duy</li>
    <li>Ville Säävuori</li>
    <li>Mikkomarkus Torni</li>
  </ul>
  <p>
    Hallitukselle voit lähettää sähköpostia
    osoitteeseen <a href="mailto:hallitus@python.fi">hallitus@python.fi</a>.
  </p>
{% endblock %}
