{% extends "_base.html" %}

{% block head %}
<script src="/media/jquery.minime.feed.js"></script>
{% endblock %}

{% block content %}
<h2>Tervetuloa</h2>
<p>
  Python Suomi ry on yhdistys, joka parantaa Python-ohjelmointikielen
  tuntemusta Suomessa sekä edistää alan ihmisten keskinäistä
  yhteistyötä ja verkostoitumista.
</p>

<h2>Tiedotteet</h2>

<!--<ul class="posts"></ul>
-->
<pre>
tl;dr in English at the very bottom


Kutsu Python Suomi ry:n sääntömääräiseen syyskokoukseen.
Syyskokouksessa käsitellään syyskokouksen sääntömääräisten
asioiden lisäksi kevätkokouksen 2016 asiat, sillä muutetuissa
säännöissä on vain yksi vuosittainen kokous. 


Kokouksessa on ruoka- ja juomatarjoilu. Pöytävarauksen ja
tarjoilun mitoittamiseksi pyydän ilmoittamaan tulosta 27.12.
mennessä osoitteeseen puheenjohtaja@python.fi. 


Mikäli et pääse paikalle, mutta olet kiinnostunut toimimaan
yhdistyksen hallituksessa, pyydän ottamaan yhteyttä samaan
osoitteeseen ennen kokousta.


Kokoukseen on mahdollista osallistua sähköisesti etäyhteyden
avulla. Mikäli haluat osallistua etäyhteyden avulla ota yhteys
osoitteeseen puheenjohtaja@python.fi 28.12. mennessä, että ehdin
keksiä sopivan järjestelyn osallistumiselle. Todennäköinen
etäyhteysjärjestely on IRC.




Python Suomi ry - sääntömääräinen syyskokous


Aika: keskiviikko 29.12.2016 klo 19.00 
Paikka: Ravintola Bryggeri
Sofiankatu 2 00170 Helsinki


Asialista:


1. Kokouksen avaus


2. Valitaan kokouksen puheenjohtaja, sihteeri, kaksi
pöytäkirjantarkastajaa ja tarvittaessa kaksi ääntenlaskijaa


3. Todetaan kokouksen laillisuus ja päätösvaltaisuus


4. Hyväksytään kokouksen työjärjestys


5. TIlinpäätös 2012, vuosikertomus 2012, toimintatarkastajien
valinta


6. Tilinpätös 2012 vahvistaminen 


7. Vastuuvapauden myöntäminen 2012 hallitukselle


8. Tilinpäätös 2013, vuosikertomus 2013 ja toiminnantarkastajien
lausunto vuodesta 2013


9. Tilinpäätöksen 2013 vahvistaminen


10. Vastuuvapauden myöntäminen vuoden 2013 hallitukselle


11. Tilinpäätös 2014, vuosikertomus 2014 ja toiminnantarkastajien
lausunto vuodesta 2014


12. Tilinpäätöksen 2014 vahvistaminen


13. Vastuuvapauden myöntäminen vuoden 2014 hallitukselle


14. Tilinpäätös 2015, vuosikertomus 2015 ja toiminnantarkastajien
lausunto vuodesta 2015


15. Tilinpäätöksen 2015 vahvistaminen


16. Vastuuvapauden myöntäminen vuoden 2015 hallitukselle


17. Vahvistetaan toimintasuunnitelma, tulo- ja menoarvio sekä
liittymis- ja jäsenmaksujen suuruudet vuodelle 2017


18. Valitaan hallituksen puheenjohtaja ja muut jäsenet


19. Valitaan yksi toiminnantarkastaja ja tälle
varatoiminnantarkastaja toimintavuodelle 2017


20. Valitaan yksi toiminnantarkastaja ja tälle
varatoiminnantarkastaja toimintavuodelle 2013


21. Muut mahdollisesti esille tulevat asiat




tl;dr 

Meeting of the legal entity Python Finland. We have to decide on
the next year’s board and take care of the bureaucracy that comes
with running a registered association.  We can obviously meet and
have fun as much as we like in less formal surroundings.


There will be food and drink to participants. Please let me know
by 27.12. if you’re coming so we can estimate the the number of
refreshments to order.  Also, if you’re interested in
participating in the board let me know at puheenjohtaja@python.fi
before the meeting.


It is possible to remotely participate via electronic means to
this meeting.  If you would like to participate remotely please
email puheenjohtaja@python.fi by the previous day so I have time
to devise an arrangement. IRC is the most likely one.


Terveisin,
Jyry Suvilehto
Chairman, Python Suomi ry

</pre>

{% endblock %}

{% block sidebar %}
<h3>Keskustele</h3>
<ul>
  <li>
    <a href="http://groups.google.com/group/pigfi">Keskusteluryhmä</a>
  </li>
  <li>
    <a href="http://twitter.com/PythonFinland">@PythonFinland</a> Twitterissä
  </li>
  <li>
    <a href="http://www.facebook.com/pages/Python-Suomi-ry/216300785055723">Facebook-ryhmä</a>
  </li>
  <li>
    IRC-kanava #python.fi @ IRCNet
  </li>
  <li>
    <a href="/yhdistys/hallitus/">Ota yhteyttä hallitukseen</a>
  </li>
</ul>

<h3>Toimintaa</h3>
<ul>
  <li>
    <a href="/yhdistys/jasenyys/">Liity jäseneksi</a>
  </li>
  <li>
    <a href="http://fi.pycon.org/">PyCon Finland</a> -konferenssi
  </li>
  <li>
    <a href="/toiminta/yritykset/">Yrityksiä</a>
  </li>
  <li>
    <a href="/toiminta/blogit/">Blogeja</a>
  </li>
</ul>

<iframe src="http://www.facebook.com/plugins/likebox.php?id=216300785055723&amp;width=280&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:280px; height: 360px" allowTransparency="true"></iframe>


{% endblock %}
