{% extends "_base.html" %}

{% block content %}
<article>
  <h2>Yleistä</h2>

  <p>Tiedotuskanavat, keskusteluryhmät, yms:</p>
  <ul>
    <li>
      <a href="http://groups.google.com/group/pigfi">PIG-Fi-keskusteluryhmä</a>
      (Google Groups)
    </li>
    <li>
      <a href="http://twitter.com/PythonFinland">@PythonFinland</a> Twitterissä
    </li>
    <li>
      <a href="http://www.facebook.com/pages/Python-Suomi-ry/216300785055723">Facebook-ryhmä</a>
    </li>
    <li>
      IRC-kanava #python.fi (IRCNet)
    </li>
    <li>
      <a href="/toiminta/pyconfi/">PyCon Finland</a> -konferenssi
    </li>
  </ul>

  <p>
    Yleistä Python-aiheista keskustelua
    käydään <a href="http://groups.google.com/group/pigfi">PIG-Fi-keskusteluryhmässä</a>,
    jonne myös kaikki Python Suomi ry:n tiedotteet kaiutetaan.
    Reaaliaikainen keskustelu hoituu <em>#python.fi</em>-kanavalla
    IRCnetissä.
  </p>

  <p>
    Suurin tapahtumamme on
    vuosittainen <a href="http://fi.pycon.org">PyCon Finland</a>
    -konferenssi. Järjestämme lisäksi paikallisia illanistujaisia ja
    käymme puhumassa oppilaitoksissa. Osallistumme muiden järjestämiin
    tapahtumiin, joissa promotoimme Pythonia ja siihen liittyviä
    teknologioita.
  </p>

</article>
{% endblock %}
