{% extends "_base.html" %}

{% block content %}
  <h2>Hallitus</h2>
  <p>
    Yhdistyksen asioita ja omaisuutta hoitaa hallitus.
  </p>
  <p>
    Kaikki hallituksen julkaisemat dokumentit (esim.
    kokouspöytäkirjat)
    näet <a href="https://docs.google.com/leaf?id=0BxmcYS66VuMUODI3MzRiNDktYTUxNi00NzliLTk0ZGMtNzA5NmNjYWFiYTY1&hl=en_US">täältä</a>
    (Google Docs -kansio).
  </p>
  <p>
    Python Suomi ry:n hallitus vuodelle 2011:
  </p>
  <ul>
    <li>Puheenjohtaja: Mikko Ohtamaa</li>
    <li>Varapuheenjohtaja: Joni Orponen</li>
    <li>Taloudenhoitaja: Jyrki Pulliainen</li>
    <li>Sihteeri: Petri Lehtinen</li>
    <li>Tiedottaja: Jyry Suvilehto</li>
  </ul>
  <p>
    Hallitukselle voit lähettää sähköpostia
    osoitteeseen <a href="mailto:hallitus@python.fi">hallitus@python.fi</a>.
    Jokaisella hallituksen jäsenellä on myös oma sähköpostiosoite
    muotoa <em>etunimi.sukunimi@python.fi</em>.
  </p>
{% endblock %}
