{% extends "_base.html" %}

{% block content %}
<article>
  <h2>Yleistä</h2>

  <ul>
    <li>
      <a href="/yhdistys/jasenyys">Liity jäseneksi</a>
    </li>
    <li>
      <a href="https://docs.google.com/document/d/10ss1MQ5C8fPZlk734OSqw3SMS2_Takk2CBGB0Bp6rZQ/edit">Yhdistyksen säännöt</a>
    </li>
  </ul>

  <p>
    Python Suomi ry parantaa Python-ohjelmointikielen tuntemusta
    Suomessa sekä edistää alan ihmisten keskinäistä yhteistyötä ja
    verkostoitumista. Haluamme lisätä Python-osaamista Suomessa,
    tarjota Python-ihmisille aktiviteetteja, mahdollistaa
    organisaatiorajat ylittävän tiedonvaihdon ja parantaa Pythonia
    käyttävien hankkeiden kilpailukykyä. Toimintamme perustuu
    vapaaehtoisuuteen.
  </p>

  <p>
    <a href="http://www.python.org">Python</a> on Python Software
    Foundation-säätiön hallinnoima avoimen lähdekoodin
    ohjelmointikieli. Pythonin suosio on kasvanut voimakkaasti
    2000-luvulla ja se on tällä hetkellä yksi TOP-10
    ohjelmointikielistä. Suosio perustuu pitkälti helppoon
    opittavuuteen ja lähestyttävyyteen, mutta silti ammattimaisesti
    johdettuun kehitykseen ja yrityskäyttöön soveltuviin työkaluihin.
  </p>

  <p>
    Pythonilla on vahva asema web-kehityksessä, ylläpidossa ja
    testauksessa. Useat suomalaiset korkeakoulut käyttävät Pythonia
    ensimmäisten ohjelmointikurssien ohjelmointikielenä. Tunnettuja
    Pythonia käyttäviä yrityksiä on mm. Google, Nokia, Yahoo ja
    Disney.
  </p>

  <p>
    Python ja Python-logot ovat Python Software Foundationin
    rekisteröimiä tavaramerkkejä.
  </p>
</article>
{% endblock %}
