{% extends "_base.html" %}

{% block head %}
<link rel="stylesheet" href="/media/css/form.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<article>
  <h2>Jäsenyys</h2>
  <p>
    Tällä sivulla voit liittyä yhdistyksen varsinaiseksi jäseneksi tai
    kannatusjäseneksi. Llomakkeissa tähdellä merkityt kohdat ovat
    pakollisia.
  </p>

  <h3>Liity jäseneksi</h3>
  <p>
    Tällä lomakkeella voit liittyä yhdistyksen varsinaiseksi
    jäseneksi. Varsinaisilta jäseniltä ei peritä jäsenmaksua.
  </p>
  <p>
    <form action="https://spreadsheets.google.com/spreadsheet/formResponse?formkey=dHdKc2F6eEJ0dnlpb0VZYXY5ZWVuV3c6MQ&amp;theme=0AX42CRMsmRFbUy03NTAzM2Q4My03ODU1LTQ2NzItODI2YS1kZmU5YzdiMzZjOGQ&amp;embedded=true&amp;ifq" method="POST">
      <table>
        <tr>
          <td>
            <label for="jasenlomake_0">
              Nimi
              <span class="required">*</span>
            </label>
          </td>
          <td>
            <input type="text" name="entry.0.single" value="" class="ss-q-short" id="jasenlomake_0" size="30">
          </td>
        </tr>
        <tr>
          <td>
            <label for="jasenlomake_4">
              Sähköposti
              <span class="req">*</span>
            </label>
          </td>
          <td>
            <input type="text" name="entry.4.single" value="" class="ss-q-short" id="jasenlomake_4" size="30">
          </td>
        </tr>
        <tr>
          <td>
            <label for="jasenlomake_6">Kotikunta <span class="req">*</span></label>
          </td>
          <td>
            <input type="text" name="entry.6.single" value="" class="ss-q-short" id="jasenlomake_6" size="30">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="hidden" name="pageNumber" value="0">
            <input type="hidden" name="backupCache" value="">
            <input type="submit" name="submit" value="Lähetä">
          </td>
        </tr>
      </table>
    </form>
  </p>
  <p>
    Hallitus hyväksyy uudet jäsenet seuraavassa kokouksessaan. Kun
    jäsenyytesi on hyväksytty, sinuun ollaan yhteydessä sähköpostitse.
  </p>

  <h3>Liity kannatusjäseneksi</h3>
  <p>
    Yritykset ja henkilöt, jotka haluavat tukea yhdistyksen toimintaa
    rahallisesti, voivat liittyä kannatusjäseneksi. Kannatusjäsenten
    jäsenmaksu on 150€ vuodessa.
  </p>
  <p>
    <form action="https://spreadsheets.google.com/spreadsheet/formResponse?formkey=dEM3LTB0a255MV94ejZ6bXBDeFU2Nmc6MQ&amp;embedded=true&amp;ifq" method="POST">
      <table>
        <tr>
          <td>
            <label for="kannatusjasenlomake_0">
              Yrityksen tai henkilön nimi
              <span class="required">*</span>
            </label>
          </td>
          <td>
            <input type="text" name="entry.0.single" value="" class="ss-q-short" id="kannatusjasenlomake_0" size="30">
          </td>
        </tr>
        <tr>
          <td>
            <label for="kannatusjasenlomake_4">Yhteyshenkilö</label>
          </td>
          <td>
            <input type="text" name="entry.4.single" value="" class="ss-q-short" id="kannatusjasenlomake_4" size="30">
          </td>
        </tr>
        <tr>
          <td>
            <label for="kannatusjasenlomake_1">
              Sähköposti
              <span class="required">*</span>
            </label>
          </td>
          <td>
            <input type="text" name="entry.1.single" value="" class="ss-q-short" id="kannatusjasenlomake_1" size="30">
          </td>
        </tr>
        <tr>
          <td>
            <label for="kannatusjasenlomake_2">
              Kotipaikka tai kotikunta
              <span class="required">*</span>
            </label>
          </td>
          <td>
            <input type="text" name="entry.2.single" value="" class="ss-q-short" id="kannatusjasenlomake_2" size="30">
          </td>
        </tr>
        <tr>
          <td>
            <label for="kannatusjasenlomake_3">Laskutusosoite</label>
          </td>
          <td>
            <input type="text" name="entry.3.single" value="" class="ss-q-short" id="kannatusjasenlomake_3" size="30">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="hidden" name="pageNumber" value="0">
            <input type="hidden" name="backupCache" value="">
            <input type="submit" name="submit" value="Lähetä">
          </td>
        </tr>
      </table>
    </form>
  </p>
  <p>
    Laskutusosoite tarvitaan mikäli tahdotte paperisen laskun. Jos
    laskutusosoitetta ei anneta, lasku toimitetaan sähköpostitse.
  </p>
  <p>
    Hallitus hyväksyy kannatusjäsenet seuraavassa kokouksessaan.
    Hyväksyttyihin jäseniin ollaan yhteydessä sähköpostitse.
  </p>
</article>
{% endblock %}
