{% extends "_base.html" %}

{% block head %}
<link rel="stylesheet" href="/media/css/form.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<article>
  <h2>Pythonia käyttäviä yrityksiä Suomessa</h2>

  <p>
    <a href="#lomake">Täytä
      lomake</a>, <a href="mailto:hallitus@python.fi">ota yhteyttä</a>
      tai <a href="https://github.com/python-finland/python.fi">lähetä
      pull request</a> mikäli yrityksenne tai organisaationne haluaa
      listalle.
  </p>

  <p>
    <ul>

      <li>
        <a href="http://www.hexagonit.fi">Hexagon IT</a>
      </li>

      <li>
        <a href="http://inoi.fi">Inoi</a>
      </li>


      <li>
        <a href="http://www.symbio.com">Symbio</a>
      </li>

      <li>
        <a href="http://www.tut.fi/hypermedia">TTY / Hypermedialaboratorio</a>
      </li>


      <li>
        <a href="http://www.gemilo.com">Gemilo</a>
      </li>

      <li>
        <a href="http://eliga.fi">Eliga</a>
      </li>

      <li>
        <a href="http://taiste.fi">Taiste</a>
      </li>

      <li>
        <a href="http://leonidasoy.fi">Leonidas</a>
      </li>

      <li>
        <a href="https://www.jyu.fi/thk">JYU / Tietohallintokeskus</a>
      </li>

      <li>
        <a href="http://andersinno.fi/">Anders Inno</a>
      </li>

      <li>
        <a href="http://www.bitten.fi/">Bitten Oy</a>
      </li>

      <li>
        <a href="http://www.perjantai.fi">Perjantai Markkinointiviestintä</a>
      </li>

      <li>
        <a href="http://www.getlocalization.com">Synble Oy</a>
      </li>

      <li>
        <a href="http://www.netcycler.com">Netcycler</a>
      </li>

      <li>
        <a href="http://seravo.fi/">Seravo Oy</a>
      </li>

      <li>
        <a href="http://www.pointsit.fi">Pointsit</a>
      </li>

      <li>
        <a href="https://www.clarifiednetworks.com/">Clarified Networks Oy</a>
      </li>

      <li>
        <a href="http://www.hdmessaging.com">HDmessaging</a>
      </li>
      <li>
        <a href="http://www.tinyvillain.com">Tiny Villain</a>
      </li>

      <li>
        <a href="http://2general.com/">2General Oy</a>
      </li>
      
      <li>
        <a href="https://holvi.com/">Holvi</a>
      </li>
      
      <li>
        <a href="http://nomovok.com/">Novomok Ltd.</a>
      </li>

    </ul>
  </p>

  <p>
    (Yritykset on toistaiseksi listattu lisäysjärjestyksessä.)
  </p>

  <h3 id="lomake">Ilmianna yrityksesi tai organisaatiosi</h3>
  <p>
    Allaolevalla lomakkeella voit lisätä yrityksesi tai organisaatiosi
    listalle. Lomakkeella lähetetyt tiedot käsitellään käsityönä,
    joten listan päivittäminen saattaa kestää jonkin aikaa.
  </p>
  <p>
    Tähdellä merkityt kohdat ovat pakollisia.
  </p>
  <p>
    <form action="https://spreadsheets.google.com/a/python.fi/spreadsheet/formResponse?formkey=dG9kTHFRcGFobi1BcHFjQVNqMS1Sanc6MQ&amp;embedded=true&amp;ifq" method="POST">
      <table>
        <tr>
          <td>
            <label for="yritys_0">
              Yrityksen nimi
              <span class="required">*</span>
            </label>
          </td>
          <td>
            <input type="text" name="entry.0.single" value="" class="ss-q-short" id="yritys_0" size="30">
          </td>
        </tr>
        <tr>
          <td>
            <label for="yritys_1">
              Linkki
            </label>
          </td>
          <td>
            <input type="text" name="entry.1.single" value="" class="ss-q-short" id="yritys_1" size="50">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="hidden" name="pageNumber" value="0">
            <input type="hidden" name="backupCache" value="">
            <input type="submit" name="submit" value="Lähetä">
          </td>
        </tr>
      </table>
    </form>
  </p>
</article>
{% endblock %}
