{% extends "_base.html" %}

{% block content %}
<article>
  <h2>Pythonia käyttäviä yrityksiä Suomessa</h2>

  <p>
    <a href="#lomake">Täytä
      lomake</a>, <a href="mailto:hallitus@python.fi">ota yhteyttä</a>
      tai <a href="https://github.com/python-finland/python.fi">lähetä
      pull request</a> mikäli yrityksenne tai organisaationne haluaa
      listalle.
  </p>

  <p>
    <ul>
      <li>
        <a href="http://mfabrik.com">mFabrik</a>
      </li>

      <li>
        <a href="http://www.syneus.fi">Syneus</a>
      </li>


      <li>
        <a href="http://www.hexagonit.fi">Hexagon IT</a>
      </li>

      <li>
        <a href="http://inoi.fi">Inoi</a>
      </li>


      <li>
        <a href="http://www.symbio.com">Symbio</a>
      </li>

      <li>
        <a href="http://www.tut.fi/hypermedia">TTY / Hypermedialaboratorio</a>
      </li>


      <li>
        <a href="http://www.gemilo.com">Gemilo</a>
      </li>

      <li>
        <a href="http://eliga.fi">Eliga</a>
      </li>

      <li>
        <a href="http://taiste.fi">Taiste</a>
      </li>

      <li>
        <a href="http://leonidasoy.fi">Leonidas</a>
      </li>

      <li>
        <a href="https://www.jyu.fi/thk">JYU / Tietohallintokeskus</a>
      </li>
    </ul>
  </p>

  <p>
    (Yritykset on toistaiseksi listattu lisäysjärjestyksessä.)
  </p>

  <h3 id="lomake">Ilmianna yrityksesi tai organisaatiosi</h3>
  <p>
    Allaolevalla lomakkeella voit lisätä yrityksesi tai organisaatiosi
    listalle. Lomakkeella lähetetyt tiedot käsitellään käsityönä,
    joten listan päivittäminen saattaa kestää muutaman päivän.
  </p>
  <p>
    <form>(TODO: form)</form>
  </p>
</article>
{% endblock %}
